#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Organizr application container

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/organizr.pid %t/organizr.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/organizr.pid \
    --cidfile %t/organizr.ctr-id --cgroups=no-conmon \
    --replace --detach --name organizr \
    --network=slirp4netns:allow_host_loopback=true \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    --volume organizr-app:/config:Z \
    --env PUID=1000 \
    --env PGID=1000 \
    --env TZ=Etc/UTC \
    --env branch=v2-master \
    ${ORGANIZR_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/organizr.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/organizr.ctr-id
SyslogIdentifier=%u
PIDFile=%t/organizr.pid
Type=forking
ExecStartPost=-runagent reconcile-organizr-ad

[Install]
WantedBy=default.target
